<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="style.css"/>


  <script src="static/jquery.min.js"></script>
  <script src="static/modernizr.js"></script>


  <script type="text/javascript">


    $(window).load(function() {
      $(".se-pre-con").fadeOut("slow");;
    });
  </script>

</head>
<ul id="menu-bar">
        <li>
        <a href="?page=status">Olek</a>
        </li>
        <li>
        <a href="?page=alarm">Äkkrünnak</a>
        </li>
        <li>
        <a href="?page=tables">Tundide seadistamine</a>
        </li>
        <li>
        <a href="?page=volume_settings">Heli seaded</a>
        </li>
        <li>
        <a href="?page=operator">Dispetšer</a>
        </li>
</ul>
